body{
background-color:#f4d442; 
h1{Color: #bf382a;
text-align: center;}
h2{color:#bf382a;}
a{color:#701c87;
text-align: center;}
a:hover{color:#31b7ce;
text-align: center;}
div{color:#0033cc ;
	text-align: center;}
.one{color:#0033cc ;
	text-align: center;}
	
    {background-color: lightgrey;
    width: 300px;
    border: 25px solid red
   ;
    padding: 25px;
    margin: 25px;
}

